<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/tx              http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/context         http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/task            http://www.springframework.org/schema/task/spring-task.xsd
           http://www.springframework.org/schema/aop             http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/util            http://www.springframework.org/schema/util/spring-util.xsd
           http://cxf.apache.org/core                           http://cxf.apache.org/schemas/core.xsd
           http://cxf.apache.org/jaxws                          http://cxf.apache.org/schemas/jaxws.xsd
           http://cxf.apache.org/jaxrs                          http://cxf.apache.org/schemas/jaxrs.xsd"
       default-autowire="no">

	<!-- setup CXF -->
	<import resource="classpath:spring_ws.xml" />
    <!-- <context:component-scan base-package="org.oscarehr.common.dao" /> -->


    <!-- load properties -->
    <bean id="propertyConfigurer"
          class="org.oscarehr.common.OscarPropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:oscar_mcmaster.properties</value>
            </list>
        </property>
    </bean>

    <!-- AOP & Transactions -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <tx:annotation-driven proxy-target-class="true"/>

    <!-- ServletContextConfig -->
    <bean class="org.ServletContextConfig"/>

    <!-- JPA/Hibernate -->
    <import resource="classpath:spring_jpa.xml"/>
    <import resource="classpath:spring_hibernate.xml"/>
    <import resource="classpath:spring_managers.xml"/>

    <!-- Spring-WS (SOAP) -->
    <import resource="classpath:spring_ws.xml"/>

    <!-- component-scan -->
    <context:component-scan base-package="oscar.service"/>
    <!-- <context:component-scan base-package="org.oscarehr.common.dao"/> -->

    <!-- ──────────────────────────────────────────────────────────────────────── -->
    <!-- DAO beans ───────────────────────────────────────────────────────────── -->
    <bean id="hl7HandlerMSHMappingDao"      class="org.oscarehr.common.dao.HL7HandlerMSHMappingDaoImpl"    autowire="byName"/>
    <bean id="gstControlDao"                class="org.oscarehr.billing.CA.dao.GstControlDaoImpl"          autowire="byName"/>
    <bean id="programDao"                   class="org.oscarehr.PMmodule.dao.ProgramDaoImpl"               autowire="byName"/>
    <bean id="programQueueDao"              class="org.oscarehr.PMmodule.dao.ProgramQueueDaoImpl"          autowire="byName"/>
    <bean id="clientReferralDAO"            class="org.oscarehr.PMmodule.dao.ClientReferralDAOImpl"        autowire="byName"/>
    <bean id="agencyDao"                    class="org.oscarehr.PMmodule.dao.AgencyDaoImpl"                autowire="byName"/>
    <bean id="admissionDao"                 class="org.oscarehr.common.dao.AdmissionDaoImpl"               autowire="byName"/>
    <bean id="providerDao"                  class="org.oscarehr.PMmodule.dao.ProviderDaoImpl"              autowire="byName"/>
    <bean id="streetHealthDao"              class="org.oscarehr.PMmodule.dao.StreetHealthDaoImpl"          autowire="byName"/>
    <bean id="otherIdDao"                   class="org.oscarehr.common.dao.OtherIdDAOImpl"                 autowire="byName"/>

    <bean id="CaseManagementIssueDAO"       class="org.oscarehr.casemgmt.dao.CaseManagementIssueDAOImpl"   autowire="byName"/>
    <bean id="caseManagementIssueDAO"       class="org.oscarehr.casemgmt.dao.CaseManagementIssueDAOImpl"   autowire="byName"/>
    <bean id="CaseManagementNoteDAO"        class="org.oscarehr.casemgmt.dao.CaseManagementNoteDAOImpl"    autowire="byName"/>
    <bean id="caseManagementNoteDAO"        class="org.oscarehr.casemgmt.dao.CaseManagementNoteDAOImpl"    autowire="byName"/>
    <bean id="CaseManagementTmpSaveDao"     class="org.oscarehr.common.dao.CaseManagementTmpSaveDaoImpl"   autowire="byName"/>
    <bean id="caseManagementTmpSaveDao"     class="org.oscarehr.common.dao.CaseManagementTmpSaveDaoImpl"   autowire="byName"/>
    <bean id="CaseManagementNoteExtDAO"     class="org.oscarehr.casemgmt.dao.CaseManagementNoteExtDAOImpl" autowire="byName"/>
    <bean id="CaseManagementNoteLinkDAO"    class="org.oscarehr.casemgmt.dao.CaseManagementNoteLinkDAOImpl" autowire="byName"/>
    <bean id="CaseManagementCPPDAO"         class="org.oscarehr.casemgmt.dao.CaseManagementCPPDAOImpl"     autowire="byName"/>

    <bean id="queueDao"                     class="org.oscarehr.common.dao.QueueDaoImpl"                   autowire="byName"/>
    <bean id="waitingListNameDao"           class="org.oscarehr.common.dao.WaitingListNameDaoImpl"         autowire="byName"/>

    <bean id="appointmentArchiveDao"        class="org.oscarehr.common.dao.AppointmentArchiveDaoImpl"      autowire="byName"/>
    <bean id="appointmentTypeDao"           class="org.oscarehr.common.dao.AppointmentTypeDaoImpl"         autowire="byName"/>
    <bean id="billingONCHeader1Dao"         class="org.oscarehr.common.dao.BillingONCHeader1DaoImpl"      autowire="byName"/>

    <bean id="DxDao"                        class="org.oscarehr.common.dao.DxDaoImpl"                      autowire="byName"/>
    <bean id="CasemgmtNoteLockDao"          class="org.oscarehr.common.dao.CasemgmtNoteLockDaoImpl"        autowire="byName"/>

    <bean id="AllergyDao"                   class="org.oscarehr.common.dao.AllergyMergedDemographicDaoImpl" autowire="byName"/>
    <bean id="allergyDao"                   class="org.oscarehr.common.dao.AllergyMergedDemographicDaoImpl" autowire="byName"/>
    <bean id="secRoleDao"                   class="org.oscarehr.common.dao.SecRoleDaoImpl"                 autowire="byName"/>
    <bean id="IssueDAO"                     class="org.oscarehr.casemgmt.dao.IssueDAOImpl"                 autowire="byName"/>

    <bean id="secroleDao"                   class="com.quatro.dao.security.SecroleDaoImpl"                 autowire="byName"/>
    <bean id="RoleProgramAccessDAO"         class="org.oscarehr.casemgmt.dao.RoleProgramAccessDAOImpl"      autowire="byName"/>
    <bean id="clientImageDAO"               class="org.oscarehr.casemgmt.dao.ClientImageDAOImpl"           autowire="byName"/>
    <bean id="programProviderDAO"           class="org.oscarehr.PMmodule.dao.ProgramProviderDAOImpl"       autowire="byName"/>
    <bean id="programFunctionalUserDAO"     class="org.oscarehr.PMmodule.dao.ProgramFunctionalUserDAOImpl" autowire="byName"/>
    <bean id="programAccessDAO"             class="org.oscarehr.PMmodule.dao.ProgramAccessDAOImpl"         autowire="byName"/>
    <bean id="defaultRoleAccessDAO"         class="org.oscarehr.PMmodule.dao.DefaultRoleAccessDAOImpl"     autowire="byName"/>
    <bean id="programClientStatusDAO"       class="org.oscarehr.PMmodule.dao.ProgramClientStatusDAOImpl"   autowire="byName"/>
    <bean id="programTeamDAO"               class="org.oscarehr.PMmodule.dao.ProgramTeamDAOImpl"           autowire="byName"/>
    <bean id="bedProgramDao"                class="org.caisi.dao.BedProgramDaoImpl"                       autowire="byName"/>

    <bean id="demographicDao"               class="org.oscarehr.common.dao.DemographicDaoImpl"            autowire="byName"/>
    <bean id="programSignatureDao"          class="org.oscarehr.PMmodule.dao.ProgramSignatureDaoImpl"     autowire="byName"/>
    <bean id="programClientRestrictionDAO"  class="org.oscarehr.PMmodule.dao.ProgramClientRestrictionDAOImpl" autowire="byName"/>
    <bean id="UserPropertyDAO"              class="org.oscarehr.common.dao.UserPropertyDAOImpl"           autowire="byName"/>

    <bean id="clinicDAO"                    class="org.oscarehr.common.dao.ClinicDAOImpl"                 autowire="byName"/>
    <bean id="dataExportDAO"                class="org.oscarehr.common.dao.DataExportDaoImpl"             autowire="byName"/>
    <bean id="siteDao"                      class="org.oscarehr.common.dao.SiteDaoImpl"                   autowire="byName"/>
    <bean id="BillingmasterDAO"             class="oscar.oscarBilling.ca.bc.data.BillingmasterDAO"        autowire="byName"/>
    <bean id="BillingPreferencesDAO"        class="oscar.oscarBilling.ca.bc.data.BillingPreferencesDAO"   autowire="byName"/>
    <bean id="PrivateBillTransactionDAO"    class="oscar.oscarBilling.ca.bc.data.PrivateBillTransactionsDAO" autowire="byName"/>
    <bean id="SupServiceCodeAssocDAO"       class="oscar.oscarBilling.ca.bc.data.SupServiceCodeAssocDAO"  autowire="byName"/>
    <bean id="BillingreferralDAO"           class="org.oscarehr.common.dao.BillingreferralDaoImpl"        autowire="byName"/>
    <bean id="DxresearchDAO"                class="org.oscarehr.common.dao.DxresearchDAOImpl"             autowire="byName"/>
    <bean id="icd9Dao"                      class="org.oscarehr.common.dao.Icd9DaoImpl"                   autowire="byName"/>
    <bean id="defaultIssueDao"              class="org.caisi.dao.DefaultIssueDaoImpl"                     autowire="byName"/>

    <bean id="MacroDAO"                     class="org.oscarehr.eyeform.dao.MacroDaoImpl"                 autowire="byName"/>
    <bean id="rourke2009Dao"                class="org.oscarehr.common.dao.forms.Rourke2009DAO"           autowire="byName"/>
    <bean id="ocanSubmissionLogDao"         class="org.oscarehr.PMmodule.dao.OcanSubmissionLogDaoImpl"    autowire="byName"/>
    <bean id="lookupDao"                    class="com.quatro.dao.LookupDaoImpl"                          autowire="byName"/>
    <bean id="documentDao"                  class="org.oscarehr.common.dao.DocumentMergeDemographicDAOImpl" autowire="byName"/>
    <bean id="userAccessDao"                class="com.quatro.dao.security.UserAccessDaoImpl"             autowire="byName"/>
    <bean id="demographicExtDao"            class="org.oscarehr.common.dao.DemographicExtDaoImpl"         autowire="byName"/>
    <bean id="providerDefaultProgramDao"    class="org.oscarehr.common.dao.ProviderDefaultProgramDaoImpl" autowire="byName"/>
    <bean id="providerInboxRoutingDAO"      class="org.oscarehr.common.dao.ProviderInboxRoutingDaoImpl"   autowire="byName"/>
    <bean id="ProviderLabRoutingFavoritesDao" class="org.oscarehr.common.dao.ProviderLabRoutingFavoritesDaoImpl" autowire="byName"/>
    <bean id="queueDocumentLinkDAO"         class="org.oscarehr.common.dao.QueueDocumentLinkDaoImpl"      autowire="byName"/>
    <bean id="caseloadDao"                  class="org.oscarehr.common.dao.CaseloadDaoImpl"               autowire="byName"/>
    <bean id="inboxResultsDao"              class="org.oscarehr.common.dao.InboxResultsDaoImpl"           autowire="byName"/>
    <bean id="inboxResultsRepository"       class="org.oscarehr.common.dao.InboxResultsRepositoryImpl"    autowire="byName"/>
    <bean id="securityDao"                  class="org.oscarehr.common.dao.SecurityDaoImpl"               autowire="byName"/>
    <bean id="oscarLogDao"                  class="org.oscarehr.common.dao.OscarLogDaoImpl"               autowire="byName"/>
    <bean id="providerPreferenceDao"        class="org.oscarehr.common.dao.ProviderPreferenceDaoImpl"     autowire="byName"/>
    <bean id="EFormDao"                     class="org.oscarehr.common.dao.EFormDaoImpl"                  autowire="byName"/>
    <bean id="encounterFormDao"             class="org.oscarehr.common.dao.EncounterFormDaoImpl"          autowire="byName"/>
    <bean id="systemMessageDao"             class="org.oscarehr.common.dao.SystemMessageDaoImpl"           autowire="byName"/>
    <bean id="billingPaymentTypeDao"        class="org.oscarehr.common.dao.BillingPaymentTypeDaoImpl"     autowire="byName"/>
    <bean id="billingONPaymentDao"          class="org.oscarehr.common.dao.BillingONPaymentDaoImpl"       autowire="byName"/>
    <bean id="providerSuperDao"             class="oscar.dao.ProviderDao"                                  autowire="byName"/>
    <bean id="eChartDao"                    class="org.oscarehr.common.dao.EChartDaoImpl"                 autowire="byName"/>
    <bean id="encounterWindowDao"           class="org.oscarehr.common.dao.EncounterWindowDaoImpl"        autowire="byName"/>

    <!-- ──────────────────────────────────────────────────────────────────────── -->
    <!-- MANAGER & SERVICE BEANS ─────────────────────────────────────────────── -->
    <bean id="oscarSuperManager" class="oscar.service.OscarSuperManagerImpl" autowire="byName" init-method="init"/>
    <bean id="lookupManager"     class="com.quatro.service.LookupManagerImpl"    autowire="byName">
        <property name="lookupDao" ref="lookupDao"/>
    </bean>
    <bean id="userAccessManager" class="com.quatro.service.security.UserAccessManagerImpl" autowire="byName">
        <property name="userAccessDao" ref="userAccessDao"/>
    </bean>

    <bean id="caseManagementManager" class="org.oscarehr.casemgmt.service.CaseManagementManagerImpl" autowire="byName">
        <!-- properties as before… -->
    </bean>
    <bean id="ClientImageManager"   class="org.oscarehr.casemgmt.service.ClientImageManagerImpl" autowire="byName"/>
    <bean id="programQueueManager"  class="org.oscarehr.PMmodule.service.ProgramQueueManagerImpl" autowire="byName"/>
    <bean id="admissionManager"     class="org.oscarehr.PMmodule.service.AdmissionManagerImpl" autowire="byType"/>
    <bean id="programManager"       class="org.oscarehr.PMmodule.service.ProgramManagerImpl" autowire="byName"/>
    <bean id="clientManager"        class="org.oscarehr.PMmodule.service.ClientManagerImpl" autowire="byName"/>
    <bean id="infirmBedProgramManager" class="org.caisi.service.InfirmBedProgramManagerImpl" autowire="byName"/>
    <bean id="demographicManagerT"      class="org.caisi.service.DemographicManagerTickler">
        <property name="demographicDao" ref="demographicDao"/>
    </bean>
    <bean id="preparedTicklerManagerT"  class="org.caisi.tickler.prepared.PreparedTicklerManagerImpl" scope="singleton"/>
    <bean id="providerManager"          class="org.oscarehr.PMmodule.service.ProviderManagerImpl" autowire="byName"/>
    <bean id="clientRestrictionManager" class="org.oscarehr.PMmodule.service.ClientRestrictionManagerImpl" autowire="byName"/>
    <bean id="agencyManager"            class="org.oscarehr.PMmodule.service.AgencyManagerImpl" autowire="byName"/>
    <bean id="facilityMessageManager"   class="org.caisi.service.FacilityMessageManagerImpl"/>

    <bean id="rolesManager" class="com.quatro.service.security.RolesManagerImpl" autowire="byName">
        <property name="secroleDao"         ref="secroleDao"/>
        <property name="secobjprivilegeDao" ref="secobjprivilegeDao"/>
    </bean>
    <bean id="drilldownQueryHandler"    class="org.oscarehr.dashboard.handler.DrilldownQueryHandler" autowire="byName"/>
    <bean id="indicatorQueryHandler"    class="org.oscarehr.dashboard.handler.IndicatorQueryHandler" autowire="byName"/>
    <bean id="exportQueryHandler"       class="org.oscarehr.dashboard.handler.ExportQueryHandler" autowire="byName"/>
    <bean id="extPrintMeasurements"     class="org.oscarehr.casemgmt.service.MeasurementPrint" autowire="byName"/>
    <bean id="extPrintOcularProcedures" class="org.oscarehr.eyeform.web.OcularProcPrint" autowire="byName"/>
    <bean id="extPrintSpecsHistory"     class="org.oscarehr.eyeform.web.SpecsHistoryPrint" autowire="byName"/>

    <bean id="measurementTemplateFlowSheet"
          class="oscar.oscarEncounter.oscarMeasurements.MeasurementTemplateFlowSheetConfig">
        <property name="flowSheets">
            <list>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hivFlowsheet.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/inrFlowsheet.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdAsthmaFlowsheet.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdCOPDFlowsheet.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdChf.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdHypertensionFlowsheet.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdDiabetesFlowsheet.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/diabetesQueensFlowsheet.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/ckdFlowsheet.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/painAssistant.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/periodicHealthVisit.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/healthTracker.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hepCFlowsheet.xml</value>
            </list>
        </property>
    </bean>

    <!-- ASYNC MAIL & SCHEDULER -->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"
          p:corePoolSize="5" p:maxPoolSize="10" p:queueCapacity="100" p:waitForTasksToCompleteOnShutdown="true"/>
    <bean id="asyncMailSender" class="oscar.service.AsyncMailSender" autowire="byName">
        <property name="taskExecutor" ref="taskExecutor"/>
    </bean>
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host"     value="${email.host}"/>
        <property name="port"     value="${email.port}"/>
        <property name="protocol" value="${email.protocol}"/>
        <property name="username" value="${email.username}"/>
        <property name="password" value="${email.password}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${email.smtp.auth:true}</prop>
                <prop key="mail.smtp.starttls.enable">${email.starttls.enable:true}</prop>
            </props>
        </property>
    </bean>

    <!-- EVENT MULTICASTER -->
    <bean id="eventService" class="org.oscarehr.event.EventService"/>
    <bean id="applicationEventMulticaster" class="org.springframework.context.event.SimpleApplicationEventMulticaster">
        <property name="taskExecutor">
            <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"/>
        </property>
    </bean>

    <!-- TASK SCHEDULER -->
    <task:scheduler id="taskScheduler"/>

    <!-- JACKSON / JSON -->
    <bean id="jacksonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
        <property name="serializationInclusion">
            <util:constant static-field="com.fasterxml.jackson.annotation.JsonInclude.Include.NON_NULL"/>
        </property>
    </bean>
    <bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider">
        <property name="mapper" ref="jacksonObjectMapper"/>
    </bean>


    <!-- OTHER SUPPORTING BEANS -->
    <bean id="dsService"         class="org.oscarehr.decisionSupport.service.DSServiceMyDrugref"/>
    <bean id="preventionMgr"     class="org.oscarehr.provider.model.PreventionManager"/>
    <bean id="ocanDataProcessor" class="oscar.ocan.service.OcanDataProcessor">
        <property name="serviceOrganizationNumber" value="1001"/>
        <property name="submissionFileLocation"    value="C:/TEMP/ocan_test"/>
    </bean>

    <!-- DAOs requiring a sessionFactory setter -->
    <bean id="secUserRoleDao"
          class="com.quatro.dao.security.SecuserroleDaoImpl"
          autowire="byName">
      <property name="sessionFactoryOverride" ref="sessionFactory"/>
    </bean>

    <!-- Add the missing SecUserRoleDao bean that demographicService expects -->
    <bean id="secUserRoleDao" 
          class="org.oscarehr.PMmodule.dao.SecUserRoleDaoImpl" 
          autowire="byName"/>

    <bean id="secobjprivilegeDao"
          class="com.quatro.dao.security.SecobjprivilegeDaoImpl"
          autowire="byName">
      <property name="sessionFactoryOverride" ref="sessionFactory"/>
    </bean>

    <!-- Add the missing SecUserRoleDao bean that demographicService expects -->
    <bean id="pmSecUserRoleDao" 
          class="org.oscarehr.PMmodule.dao.SecUserRoleDaoImpl" 
          autowire="byName"/>

</beans>
